 /* body{
    margin:0;
    text-align: center;
    font-family: sans-serif;
    

}
#page-heading{
    text-align: center;
    margin-top:25px;
    color:grey;
}
 .container{
    display: flex;
    align-items: center;
    justify-content: center;


    
} 
ul{
    list-style:none;
    
}
li{
    display: flex;
    border: 2px white solid;
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: start;
    padding-bottom: 5px;
    
    
    
    
    background-color: royalblue;
    
}
.contact-btn{
    background-color: black;
    color: white;
}
p{
    display: inline-block;
    
    
}
.right_algn{
    float:right; 
}
.vl {
    border-left: 5px solid orangered;
}
li:hover{
    background-color: blueviolet;
    
}
input{
    border:none;
    border-bottom:2px solid black;
}
input.hover{
    background-color: green;
}
.contact-btn:hover{
    transform: scale(1.5);
    cursor: pointer;

}
.delete-button{
    width:10%;
    

    
    
    
}
a{
    color: red;
    background-color: white; */
    body{
        
        box-sizing: border-box;
        margin: 0;
    } 

    #page-heading{
        text-align: center;
        color:gray;
        margin-top: 25px;
    }
    .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    
    }
    .container ul{
        padding: 0;
        list-style: none;


    }
    .contacts .details{
        display: flex;
        flex-direction: row;
        flex-wrap: column;
        justify-content: space-between  ;
        padding: 5px;
        width: 90%;


    }
    .contacts{
        display: flex;
        background-color: royalblue;
        color: white;

    }
    .contacts p{
        margin: 5px 0;

    }
    
    .contacts .delete-button{
        width:10%;
        text-align: center;
        margin-top: 10px;
        
    }
    .contacts .delete-button a{
        background-color: red;
        color:orange

    }
    .new_form{
        border: none;
        border-bottom: 2px solid grey;
    }
    .new_form button{
        background-color: black;
        color: white;
    }
    .contact-btn:hover{
        transform: scale(1.5);
        cursor: pointer;
    }
    